# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Power BI exported HTML files
Create Power BI Dashboard.html
Create Power BI Dashboard_files/desktop.ini
desktop.ini
Create Power BI Dashboard_files/
